<% active_tab 'Questions' %>

<div data-role="header">
  <%= toolbar_button 'Cancel', questions_path, :icon => 'delete', :rel => 'back' %>
  <h1>Question</h1>
</div>

<div data-role="content">
  <%= render 'form' %>
</div>
