<div data-role="header" data-position="inline">
  <%= toolbar_button 'Cancel', questions_path, :icon => 'delete', :direction => 'reverse' %>
  <h1>New Question</h1>
</div>

<div data-role="content">
  <%= render 'form' %>
</div>
