<div data-role="header">
  <h1>Login Required</h1>
</div>

<div data-role="content">
  <h1>Logining in</h1>
  <p>This application requires you to log in using your GWU email account. Clicking the button below will transfer you to the Google Apps page for the university. It will ask you if you'd like to authorized this applicatoin. Select yes and you will be redirected back to the appliction.</p>
  <%= link_to 'Login', '/auth/gwemail', 'data-role' => 'button', 'rel' => 'external' %>
</div>
