// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-attribution {
  text-align: right;
}

.label {
  padding: 3px 5px 4px;
  background-color: #AFAFAF;
  font-size: 9.75px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
